# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Runtime Data
temp/
outputs/
logs/
*.log

# Testing
coverage/

# Misc
.DS_Store
.vscode/
Thumbs.db

# Project Specific
src/constants/pexels_videos_cache.json
